*:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Satoshi", sans-serif;
}

/*! header secrion */

.header_section {
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.main_logo {
  margin-right: 149px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--text-color);
  text-decoration: none;
}

.nav_style {
  margin-right: 44px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  list-style: none;
}

.img_nav {
  margin-left: 281px;
}

.top_nav ul {
  display: flex;
}

li.nav_style a {
  color: #726e8d;
  text-decoration: none;
}

/* * main section * */

.selection {
  justify-content: center;
  display: flex;
  align-items: center;
}

.label_text {
  padding: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2a254b;
}

.main_section {
  margin-top: 80px;
  text-align: center;
  align-items: center;
}

.title_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: #2a254b;
}

.sorting_by {
  margin-left: 412px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2a254b;
}

#caret {
  background-color: #fff;
  margin-right: 50px;
  padding: 0;
  border: none;
}

/*? grid */

.text_product {
  background-color: var(--bg-color);
}

.grig_navigation {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #2a254b;
  text-decoration: none;
}

.grid_container {
  margin-bottom: 84px;
  justify-content: center;
  display: grid;
  grid-template-columns: 305px 305px 305px 305px;
  gap: 20px;
}

.product_4 {
  height: 375px;
  background-image: url(img/product-1.jpg);
}

.product_3 {
  height: 375px;
  background-image: url(img/product-3.jpg);
}

.product_2 {
  height: 375px;
  background-image: url(img/product-2.jpg);
}

.product_1 {
  align-items: end;
  height: 375px;
  background-image: url(img/product-4.jpg);
}

.item_text {
  text-align: left;
  text-decoration: none;
}

.button {
  background-color: var(--card-bg);
  padding: 16px 32px 16px 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
}

.join_background {
  margin-right: 50px;
  background-image: url(img/join-background.jpg);
  width: 720px;
  height: 521px;
}

.title_join {
  text-align: left;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: #2a254b;
}

.par_sing {
  text-align: left;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2a254b;
}

.email_singup {
  margin-top: 60px;
  justify-content: center;
  display: flex;
}

.email_text {
  margin-top: 71px;
}

.button_singup {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  background: #2a254b;
  border: none;
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  align-items: center;
  margin-top: 231px;
}

/*^ footer */

footer {
  background: #2a254b;
}

.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px;
}

.footer_navigation {
  margin-left: 82px;
  display: flex;
  flex-direction: row;
  padding-top: 58px;
}

ul.list_style li {
  padding-bottom: 12px;
}

.list_name {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.list_style {
  padding-right: 100px;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  list-style: none;
}

.map {
  margin-right: 82px;
  background-image: url(img/map.jpg);
  width: 642px;
  height: 195px;
}

.footer_line {
  border: 1px solid #4e4d93;
  width: 1277px;
  height: 0px;
}

.copyright {
  margin-right: 845px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.bottom_section {
  padding: 24px 80px 24px 80px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.social_media {
  padding-right: 24px;
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-family: var(--font-family);
  transition: all 0.3s ease;
}

body {
  --bg-color: #ffffff;
  --text-color: #2a254b;
  --card-bg: #f8f9fa;
  --button-bg: #2a254b;
  --button-text: #ffffff;
  --border-color: #ebe8f4;
  
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

body.dark-theme {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --card-bg: #2c2c2c;
  --button-bg: #4a90e2;
  --button-text: #ffffff;
  --border-color: #4e4d93;
}

body.dark-theme .nav_style a,
body.dark-theme .label_text,
body.dark-theme .title_text,
body.dark-theme .sorting_by,
body.dark-theme .grig_navigation,
body.dark-theme .title_join,
body.dark-theme .par_sing {
  color: var(--text-color);
}

body.dark-theme li.nav_style a {
  color: #b8b5cc;
}

.price-card {
  background-color: var(--card-bg);
}

.price-button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

